* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFD6FC;
}

.london {
  background-color: plum;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 100;
  margin-top: 0px;
}

h1 {
  color: orchid;
  background-color: seashell;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  padding: 25px;
  font-size: 40px;

}

h2 {
  background-color: plum;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 100;


}

img {
  height: 300px;
  margin: 5px;
}

.all-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

@media screen and (max-width: 900px) {
  .all-images {
    display: flex;
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 600px) {
  .all-images {


  }
}
