* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: seashell;
}

.london {
  background-color: plum;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 100;
  margin-top: 0px;
  justify-content: space-around;
}

h1 {
  color: black;
  background-color: seashell;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  padding: 25px;
  font-size: 40px;
  justify-content: space-around;
  width: auto;

}

h2 {
  background-color: plum;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 100;


}

img {
  height: 300px;
  width: 200px;
  margin: 5px;
  object-fit: cover;

}

.all-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: seashell;

}

@media screen and (max-width: 900px) {
  .all-images {
    display: flex;
    flex-wrap: wrap;

  }
}


.paris-head {
  background-color: #E0BBE4;
}

.london-head {
  background-color: #FF8D87;

}

.italy-head {
  background-color: #c9c9ff;

}

.bud-head {
  background-color: #FFC36D;
}

.bar-head {
  background-color: #b19cd9;
}
