* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: mistyrose;
}

h1 {
  color: orchid;
  background-color: lavender;
  text-align: center;
  font-family: 'Homemade Apple', cursive;

}

h2 {
  background-color: plum;
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: 100;


}

img {
  height: 300px;
  margin: 5px;
  padding: 0px;

}

.all-images {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

@media screen and (max-width: 900px) {
  .all-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .all-images {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column-wrap
    align-items: center;
  }
}
